@charset "UTF-8";
/* CSS Document */

/*==============| Reset CSS |====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================================================| Site CSS |=============================================================*/

/*==============| Shared CSS |====================*/

body {
	background: url("img/bg.png") repeat-x 0px 200px #CCCCCC;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:100;
}
h1 {
	font-size: 24px;
	margin-bottom: 20px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
p {
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	float: left;
}
a {
	color: #860038;
}
#wrapper {
	width: 960px;
	min-height: 630px;
	background: #ffffff;
	margin: 0 auto;
	padding: 0 0 110px 0;
}
#content {
	min-height: 400px;
	width: 880px;
	margin: 40px;
	overflow: auto;
}
#content ul li {
	list-style: disc;
	font-size: 12px;
	color: #333333;
	line-height: 16px;
	margin-left: 20px;
}
#footer {
	height: 30px;
	width: 960px;
	margin: 15px auto;
}
#footer p {
	font-size: 12px;
}

/*==============| Main CSS |====================*/

body.main {
	background-image: none;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:100;
}
#logoMain {
	background: url(img/mainLogo.jpg) center right no-repeat;
	width: 920px;
	height: 150px;
	margin: 0 40px 0 0;
}
#contentMain {
	width: 960px;
	height: 400px;
	background: url(img/mainBG.png) top left no-repeat;
	padding: 20px 0 0 0;
}
#navMain {
	background: url(img/mainNavBG.jpg) top left repeat-x;
	width: 960px;
	height: 50px;
	margin-top: 150px;
}
.navMainLogo {
	background: url(img/mainNavLogo.png) center left no-repeat;
	float: left;
	width: 210px;
	height: 50px;
	margin-left: 25px;
}
.navMainLogo a {
	width: 200px;
	height: 50px;
	margin-left: 40px;
	text-decoration: none;
}
#navMain ul {
	float: right;
}
#navMain ul li {
	float: left;
	margin: 16px 10px 0 10px;
}

#navMain ul li.industrial{
	text-align: center;
	margin: 8px 5px 0 5px;
	width: 100px;
}

#navMain ul li.multifamily{
	text-align: center;
	margin: 8px 5px 0 5px;
	width: 75px;
}

#navMain ul li.extrinsic{
	text-align: center;
	margin: 8px 5px 0 5px;
	width: 75px;
}

#navMain ul li.american{
	text-align: center;
	margin: 8px 5px 0 5px;
	width: 125px;
}



#navMain ul li a {
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}

/*==============| Home CSS |====================*/

#headerHome {
	width: 960px;
	height: 100px;
}
#homeNavLogo {
	background: url(img/homeNavLogo.jpg) center left no-repeat;
	width: 220px;
	height: 100px;
	margin: 0 0 0 40px;
	float: left;
}
#navHome {
	width: 700px;
	height: 50px;
	float: right;
	margin-top: 55px;
}
#homeHeaderCircles {
	background: url(img/homeHeaderBG.jpg) top left no-repeat;
	height: 85px;
	width: 960px;
}
#navHome ul {
	float: right;
}
#navHome ul li {
	float: left;
	margin: 16px 12px 0 12px;
	padding-bottom: 3px;
}
#navHome ul li a {
	color: #333333;
	font-size: 14px;
	text-decoration: none;
}

#navHome ul li a:hover {
	color: #860038;
	text-decoration: none;
}

#quotes {
	border-bottom: 10px solid #E0E0E0;
	width: 880px;
	height: 120px;
	margin-bottom: 20px;
}
.quotesImage {
	float: left;
	width: 100px;
	height: 120px;
	margin: 0 40px 0 20px;
}
.quotesImage img {
	width: 120px;
	height: 120px;
}
.quotesVerbiage {
	float: right;
	width: 720px;
	height: 100px;
}
.quotesVerbiage h1 {
	color: #666666;
	margin-top: 10px;
}
.quotesPerson {
	float: right;
	width: 720px;
	height: 20px;
	text-align: right;
}
#blocks {
	float: left;
	width: 267px;
	height: 240px;
}
.blocksMiddle {
	margin: 0 40px 0 39px;
}
.blocksHeader {
	background: url(img/boxHeaderBG.jpg) top left no-repeat;
	width: 267px;
	height: 40px;
}
.blocksHeader h2 {
	color: #ffffff;
	padding: 10px 0 0 20px;
}
.blocksContent {
	background-color: #E0E0E0;
	width: 227px;
	height: 160px;
	padding: 20px;
}
#bottomLogo {
	background: url(img/homeLogo.jpg) center right no-repeat;
	width: 150px;
	height: 75px;
	float: right;
	margin: 20px 40px 20px 0;
}

#contentLeft {
	float: left;
	width: 155px;
}
#contentLeft p{
	line-height: 22px;
}
#contentRight {
	float: right;
	width: 700px;
	padding-right:20px;
}

#contentRight p strong {
	color: #860038;
}

/*==============| Subpage CSS |====================*/
img.headshot {
	float: left;
	margin: 5px 10px 5px 0;
}

img.headshot.debbie {
	padding-bottom: 20px;
}

img.headshot.michael {
	padding-bottom: 60px;
}



.clear {
width: 100%;
height: 1px;
margin-bottom: 10px;
float: left;
clear: both;
}


.siaLogo_home{
	background: url(img/sia_logo.png) center center no-repeat;
	height: 90px;
	width: 190px;
	position: absolute;
	margin: -302px 0 0 27px;
}

.siaLogo_subpage{
	background: url(img/sia_logo_small.png) center center no-repeat;
	height: 59px;
	width: 124px;
	margin-top: 20px;
	float: left;
}


